<!DOCTYPE html>
<html>
  <head>
    <title>Flights</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <a href="/">Home</a> | <a href="/flights">All Flights</a> | <a href="/flights/new">New Flight</a>
<br><br>