<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights/<% flights._id %>" method="POST">
  <label>Airline:
    <select name="airline">
    <option value="American">American</option>
    <option value="Delta" selected>Delta</option>
    <option value="Frontier">Frontier</option>
    <option value="Southwest">Southwest</option>
    <option value="Spirit">Spirit</option>
    <option value="United">United</option>
  </select>
  </label>
<br>
<br>
  <label>Airport:
    <select name="airport">
    <option value="ATL">ATL</option>
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="JAX" selected>JAX</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>
  </label>
  <br>
  <br>
  <label>Flight Number:
    <input type="number" name="flightNo">
  </label>
  <br>
  <br>
  <label for="departs">Departs:</label>
  <input type="datetime-local" name="departs" value="2025-02-21T08:30"> 
  <br>
  <br>
  <button type="submit">Add Flight</button>
</form>



<%- include('../partials/footer') %>